<tr class="message <%= 'success' if message.inbound? %>" data-sid="<%= message.sid %>" data-created-at="<%= message.created_at %>">
  <td>
    <%= message.body %>
  </td>
  <td class="from">
    <%= message.outbound? ? "Me" : message_filter_link(message.from, :from) %>
  <td>
  <td class="to">
    <%= message.inbound? ? "Me" : message_filter_link(message.to, :to) %>
  </td>
  <td class="actions">
    <% if message.inbound? %>
      <%= link_to "reply", [:new, :message, { to: message.from }] %>
    <% end %>
  </td>
</tr>