<tr class="message <%= 'success' if message.inbound? %>">
  <td>
    <%= message.body %>
  </td>
  <td class="from">
    <%= message.outbound? ? "Outbound" : message.from %>
  <td>
  <td class="to">
    <%= message.inbound? ? "Inbound" : message.to %>
  </td>
  <td class="actions">
    <% if message.inbound? %>
      <%= link_to "reply", [:new, :message, { to: message.from }] %>
    <% end %>
  </td>
</tr>